@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 20px;
}

@font-face {
  font-family: "inlander";
  src: url(../../inlander/Inlander\ Texture.ttf);
}
.fondo-lounge, .fondo-comercial, .imagen-bienvenida {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.subtitulo, .titulo {
  font-family: "inlander";
  color: whitesmoke;
  background: url(../media/pizarra.png);
  text-align: center;
  padding: auto;
  margin-bottom: 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 10px 10px;
}

.parrafo-marketing, .parrafo-bienvenida {
  font-family: "Outfit", sans-serif;
  color: whitesmoke;
  font-size: 1rem;
  background-color: rgba(29, 48, 1, 0.555);
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 10px 10px;
}

.boton-venta, .boton {
  color: whitesmoke;
  font-size: 0.9em;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.5) -1px -10px -10px;
  text-decoration: none;
  text-align: center;
  font-family: "inlander";
  background: rgba(29, 48, 1, 0.555);
  border: 0.2px solid whitesmoke;
  transition: background-color 1s;
}
.boton-venta:hover, .boton:hover {
  background-color: #002205ee;
  border: none;
}

.pizarra-inicio {
  color: whitesmoke;
  background-color: rgba(29, 48, 1, 0.555);
  width: 100%;
  transition: all 1s;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 10px 10px;
}
.pizarra-inicio:hover {
  background-color: #002205ee;
}

ul {
  list-style: none;
  font-size: 0;
}
ul li {
  font-family: "inlander";
  display: inline-block;
  color: whitesmoke;
  width: 8rem;
  position: relative;
  font-size: 1rem;
}
ul li ul {
  position: absolute;
  display: none;
  background: url(../media/pizarra.png);
  box-shadow: rgba(0, 0, 0, 0.5) 1px 10px 10px;
}
ul li ul li {
  display: block;
}

ul li:hover ul {
  display: block;
  color: whitesmoke;
}

.vinculo {
  color: whitesmoke;
  text-decoration: none;
}
.vinculo:hover {
  color: #bee4be;
}

.pie {
  color: whitesmoke;
  background-color: rgba(29, 48, 1, 0.555);
  width: 100%;
  transition: all 1s;
  position: absolute;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 10px 10px;
}
.pie:hover {
  background-color: #002205ee;
}

.imagen-bienvenida {
  background: url(../media/fondoinicio.png);
}

.parrafo-bienvenida {
  padding-left: 2rem;
  padding-right: 2rem;
}

.certificados {
  color: whitesmoke;
  background-color: rgba(29, 48, 1, 0.555);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  padding: 1rem;
  padding-left: 2rem;
}

.fondo-comercial {
  background-image: url(../media/fondocomerciales.png);
}

.tarjeta {
  width: auto;
  height: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#f1db9d, #fcfbf9);
  margin-top: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 10px 10px;
  border: 1px solid whitesmoke;
}

.foto-producto {
  height: 15rem;
  display: flex;
  align-items: center;
}

.tamanio-producto {
  width: 12rem;
}

.fondo-producto {
  background-image: linear-gradient(#f1db9d, #fcfbf9);
}

.pizarra-venta {
  font-size: 1em;
  font-family: "inlander";
  background: url(../media/pizarra.png);
  color: whitesmoke;
  width: 12em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo-lounge {
  background: url(../media/fondolounge.png);
}

.parrafo-marketing {
  text-align: left;
}

.boton-venta {
  width: 12em;
  padding: 0.5rem 1rem;
}
.boton-venta:hover {
  color: #bee4be;
}

.titulo {
  font-size: 1.5em;
}

.subtitulo {
  font-size: 0.8em;
}

/*# sourceMappingURL=miestilo.css.map */
