// Fondo de la página. Se repite en las páginas Productos y Contacto. Aplicado mixin.
.imagen-bienvenida {
    background: url(../media/fondoinicio.webp);
    @include fondo-cuerpo;
}

.logo-animado {
    width: 17rem;
    height: 17rem;
    box-shadow: $sombraAbajo;
    
}

// Aplicado extend.
.parrafo-bienvenida {
    @extend %parrafo;
    padding-left: 2rem;
    padding-right: 2rem;
}