// Aplicado mixin.
.fondo-lounge {
    background: url(../media/fondolounge.webp);
    @include fondo-cuerpo;
}

// Aplicado extend.
.parrafo-marketing {
    @extend %parrafo;
    text-align: left;
}

// Estilo de las fotos del carrusel.
.foto-carrusel {
    width: 32rem;
    height: auto;
    box-shadow: $sombraAbajo;
}
