// Fondo de las cuatro páginas de Market. Aplicado extend.
.fondo-comercial{
    background-image: url(../media/fondocomerciales.png);
    @extend %fondo-cuerpo;
}

// Clases para las tarjetas del catálogo.
.tarjeta {
    width: auto;
    height: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: $gradiente; 
    margin-top: 0.5rem;
    box-shadow: $sombra-abajo;
    border: 1px solid $colorGeneral;
}
.foto-producto {
    height: 15rem;
    display:flex;
    align-items: center;
}
.tamanio-producto {
    width: 12rem;
}
.fondo-producto {
    background-image: $gradiente;
}
.pizarra-venta {
    font-size: 1em;
    font-family: "inlander";
    background: url(../media/pizarra.png);
    color: $colorGeneral;
    width: 12em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}