// Fondo de las cuatro páginas de Market. Aplicado mixin.
.fondo-comercial{
    background-image: url(../media/fondocomerciales.webp);
    @include fondo-cuerpo;
}

// Clases para las tarjetas del catálogo.
.tarjeta {
    @include parametros(auto, 21rem, flex);
    @include flex(center, center);
    flex-direction: column;
    background-image: $gradiente; 
    margin-top: 0.5rem;
    box-shadow: $sombraAbajo;
    border: 1px solid $colorGeneral;
}
.foto-producto {
    height: 15rem;
    width: auto;
    display:flex;
    align-items: center;
}
.tamanio-producto {
    width: 12rem;
    height: 21rem;
}
.fondo-producto {
    background-image: $gradiente;
}
.pizarra-venta {
    @include flex(center, center);
    font-size: 1em;
    font-family: "inlander";
    background: url(../media/pizarra.webp);
    color: $colorGeneral;
    width: 12em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    display: flex;
}