// Fondo de las cuatro páginas de Market. Aplicado mixin.
.fondo-comercial{
    background-image: url(../media/fondocomerciales.webp);
    @include fondo-cuerpo;
}

// Clases para las tarjetas del catálogo. Aplico mixins.
.tarjeta {
    @include tamanio(21rem, auto);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: $gradiente; 
    margin-top: 0.5rem;
    box-shadow: $sombraAbajo;
    border: 1px solid $colorGeneral;
}
.foto-producto {
    @include tamanio(auto, 15rem);
    display: flex;
    align-items: center;
}
.tamanio-producto {
    @include tamanio(12rem, 21rem);
}
.fondo-producto {
    background-image: $gradiente;
}
.pizarra-venta {
    @include tamanio(12rem, auto);
    @include fuente("inlander", 1em);
    @include flex(flex, center, center);
    background: url(../media/pizarra.webp);
    color: $colorGeneral;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}