// Clase para el panel de certificados orgánicos. Aplicados mixins.
.certificados {
    @include fuente-fondo;
    @include flex(flex, center, space-between);
    flex-direction: column;
    padding: 1rem;
    padding-left: 2rem;
    box-shadow: $sombraAbajo;
}