// Aplicado mixin.
.pie {
    @include barras;
    @include flex(space-around, center);
    position: absolute;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    box-shadow: $sombraAbajo;    
}