// Aplicado mixin.
.pie {
    @extend %barras;
    @include flex(flex, space-around, center);
    position: absolute;
    margin-bottom: 0;
    flex-wrap: wrap;
    padding-top: 1em;
    margin-top: 2rem;
    box-shadow: $sombraArriba;
    font-family: $general;    
}

.logos-redes {
    @include tamanio(2em, 2em);
    transition: all 1s;

    &:hover {
        @include animaciones(scale(1.1));
    }
}