// Estilo de fondo del menú. Aplicado mixin.
.pizarra-inicio {
    @include barras;
    margin-bottom: 2rem;
    box-shadow: $sombraAbajo;
}

.logo {
    height: auto;
    width: 2,5rem;
}

// Submenú. Aplicado mixin.
ul {
    list-style: none;
    font-size:0;
    li {
        @include lista; 
        ul {
            position: absolute;
            display: none;
            background: url(../media/pizarra.webp);
            box-shadow: $sombraAbajo;
            li {
                display: block;
            }
        }
    } 
}
ul li:hover ul {
    display: block;
    color: $colorGeneral;
}

// Estilo de los vínculos.
.vinculo {
    color: $colorGeneral;
    text-decoration: none;

    &:hover {
        color: $colorLinks;
    }
}
 

  
    

