// Fondo de pantalla.
.imagen-bienvenida {
    background: url(../media/fondoinicio.avif);
    @include fondo-cuerpo;
}

// Extend.
.titulo {
    @extend %titulos;
}

// Aplicados mixins.
.parrafo-bienvenida {
    @extend %parrafo;
    padding-left: 2rem;
    padding-right: 2rem;
}






