// Aplico extend a ambas clases.
.boton {
    @extend %boton;
    padding: 1em 1em;
}

.boton-venta {
    @extend %boton;
    width: 12em;
    padding: 0.2rem 1rem;

    &:hover {
        color: $colorLinks;
    }
}

.boton-error {
    @extend %boton;
    width: 20em;
    
    &:hover {
        color: $colorLinks;
    }
}

.vinculo {
    color: $colorGeneral;
    text-decoration: none;

    &:hover {
        color: $colorLinks;
    }
}
