.pie {
    @include barras;
    position: absolute;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
    box-shadow: rgb(0 0 0 / 50%) 1px -10px 10px;    
}