// Extend en ambas clases.
.titulo {
    @extend %titulos;
    font-size: 1.5em;
}

.subtitulo {
    @extend %titulos;
    font-size: 0.8em;
}

.punto {
    font-family: "Outfit", sans-serif;
    font-size: 0.8rem;
}