// Aplicado en partial "titulos", clases "titulo" y "subtitulo".
%titulos {
    font-family: "inlander";
    color: $colorGeneral;
    background: url(../media/pizarra.webp);
    text-align: center;
    padding: auto;
    margin-bottom: 3px;
    box-shadow: $sombraAbajo;
}

// Aplicado en partial "index", clase "parrafo-bienvenida" y "_lounge", clase "parrafo-marketing".
%parrafo {
    font-family: "Outfit", sans-serif;
    color: $colorGeneral;
    font-size: 1rem;
    background-color: $backParrafos;
    margin: auto;
    box-shadow: $sombraAbajo;
}

// Aplicado en partial "botones", clases "boton" y "boton-venta".
%boton {
    color: $colorGeneral;
    font-size: 0.9em;
    padding: 0.5rem 1rem;
    box-shadow: $sombraAbajo;
    text-decoration: none;
    text-align: center; 
    font-family: "inlander";
    background: $backParrafos;
    border: 0.2px solid $colorGeneral;
    transition: background-color 1s;

    &:hover {
        background-color: $verdeLogo;
        border: none;
    }
}


