// Tamaño rem.
html {
    font-size: 20px;
}

// Fontface, fuente en carpeta.
@font-face {
    font-family: "inlander";
    src: url(../../inlander/Inlander\ Texture.ttf);
}

// Link a Goolge Font.
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');