// Aplicado a header y footer.
@mixin barras {
    color: $colorGeneral;
    background-color: $backParrafos;
    width: 100%;
    transition: all 1s;

    &:hover {
        background-color: $verdeLogo;
    }    
}

// Para fondo de las páginas. Por algún motivo que desconozco, no funcionó como extend.
@mixin fondo-cuerpo {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

// Mixin de color de fuente y fondo.
@mixin fuente-fondo {
    color: $colorGeneral;
    background-color: $backParrafos;
}

// Modifica elementos de lista.
@mixin lista {
    font-family: "inlander", "Times New Roman";
    display: inline-block;
    color: $colorGeneral;
    width: 8rem;
    position: relative;
    font-size: 1rem;
} 

// Propiedades que se repiten.
@mixin parametros($ancho, $alto, $display) {
    width: $ancho;
    height: $alto;
    display: $display;
}

// Para los display flex.
@mixin flex($justificar, $alinear) {
    justify-content: $justificar;
    align-items: $alinear;
}

